<!DOCTYPE html>

<html>

<head>
    <%- include('./partials/head'); %>
</head>

<body>
    <%- include(`./partials/header`); %>

    <a href="/drinks">Back to Today's Drink Menu </a>

    <h1>At foo bar</h1>
    <h2>
        <%=drinks.name%>
    </h2>

    <img class="itemphoto" src="<%=drinks.image%>">
    <h2 class="price">
        $<%=drinks.price%>
    </h2>
</body>

</html>