<!DOCTYPE html>

<html>

<head>
    <%- include('./partials/head'); %>
</head>

<body>
    <%- include(`./partials/footer.ejs`); %>
    <h1>Welcome to Gitpub</h1>

    <%# Loops through drinks, displays and capitalizes first letter. %>
     
            <% for(let i=0; i < foods.length; i++){ %>
                <div class="menuitem">
                    <a href="/drinks/<%=i%>">
                        <%=foods[i].name %>
                    </a>
                </div>
                <% } %>
        
     
        

        <%- include(`./partials/footer.ejs`); %>
